class_dict.csv
train/.gitignore
test/.gitignore
val/.gitignore
train_labels/.gitignore
test_labels/.gitignore
val_labels/.gitignore
train_full/
train_labels_full/
train_labels/
val_labels/
test_labels/
train/
val/
test/
train_labels.txt
val_labels.txt
test_labels.txt
train.txt
val.txt
test.txt
predict_list.txt
test_old/
test_out_old/
tmp/
